{% extends "base.html" %}
{% block title %}
Video fragment retrieval
{% endblock %}

{% block content %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.6/handlebars.min.js" integrity="sha256-usTqAE1ywvdMtksWzdeWzD75MsfJN0h0U7y2NtZL3N0=" crossorigin="anonymous"></script>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>


<section class="center">
    <div class="col-6">
        <h2 class="title">Vid Retriever</h2>

        <form action="">
            <div class="form-group">
                <label for="query">
                    <input type="text"
                           id="query"
                           name="query"
                           class="form-control"
                           autocomplete="off"
                           placeholder="Type query here"
                           required
                           autofocus
                           size="180"
                    >
                </label>
                <input type="submit" hidden>
            </div>
        </form>
        <br/>

        <div id="retrieved">
        </div>

    </div>

</section>


{% raw %}
<script id="entry-template" type="text/x-handlebars-template">
    {{#each entries}}
    <li>
        <video id="vid_{{@index}}" controls preload="metadata">
            <source src="{{video}}" type="video/mp4">
        </video>
        <p>Here will be plotly with confidence response</p>
        {{#each fragments}}
            <button class="btn" onclick="jumpTo({{@../index}}, {{this}})"> {{@index}}</button>
        {{/each}}
    </li>
    {{/each}}
</script>
{% endraw %}


<script>
function jumpTo(videoId, ts) {
    const video = document.getElementById("vid_" + videoId);
    video.currentTime = ts;
    video.play();
}

function sendQuery () {
    const source = document.getElementById("entry-template").innerHTML;
    console.log(source);
    const template = Handlebars.compile(source);

    const query = document.getElementById("query").value;
    let xhr = new XMLHttpRequest();

    xhr.onload = function () {
        const response = JSON.parse(xhr.response);
        const html = template({entries: response});
        document.getElementById('retrieved').innerHTML = html;
    }

    xhr.open("POST", "/handle");
    const data = JSON.stringify({query: query});
    xhr.send(data);
}

document.addEventListener("DOMContentLoaded", function () {
  document.forms[0].onsubmit = function (event) {
    event.preventDefault();
    sendQuery();
  };
});
</script>

{% endblock %}
